@import "../../assets/css/base.css";
@import "../../assets/css/colors.css";
@import "../../assets/css/header.css";
@import "../../assets/css/footer.css";
@import "../../assets/css/avatar.css";

body {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr 7.5vh;
    grid-template-areas: "header" "main" "footer";
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
}

article {
    width: 60vw;
    margin-bottom: 1em;
}

figure {
    margin: 32px 0;
    text-align: center;
}

img {
    width: 60vw;
}

#headline {
    margin: 1em 0;
}

section {
    text-align: justify;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.author-detail {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
}

.author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    color: var(--primary-color);
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.padding-right {
    padding-right: 8px;
}

@media only screen and (max-width: 600px) {
    article {
        min-width: 95vw;
        margin: 0 1em;
    }
}

